<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h1>{{ 'general.404.title' | t }}</h1>

  <p>{{ 'general.404.subtext' | t }}</p>

  <div id="search-bar">
    <form action="/search" method="get">
      <h3>{{ 'general.search.title' | t }}</h3>
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>
  </div>  

	{% if settings.nosto_id != blank %}
	    {% include 'nosto-element' with 'notfound-nosto-1' %}
	    {% include 'nosto-element' with 'notfound-nosto-2' %}
	    {% include 'nosto-element' with 'notfound-nosto-3' %}
	{% endif %}
	
</div>