<div id="faq">
	<div id="subpage">
  		<div class="left-nav">
      		{% include 'sidenav' %}
  		</div>

  		<div class="page-content-field">
			{% section 'page-faq-template' %}
  		</div>
  	</div>
</div>

<script>
$( document).ready(function() {
	// Expand section if url contains a direct anchor reference
	var targetSection = window.location.href.split( '#' )[1]; // undefined if not present, aka false
	if ( targetSection ) {
		$( '#' + targetSection ).parent('.toggle-title').addClass( 'active' );
	}

	if( $(".toggle .toggle-title").hasClass('active') ){
      $(".toggle .toggle-title.active").closest('.toggle').find('.toggle-inner').show();
    }
  
    $(".toggle .toggle-title").click(function(){
      if( $(this).hasClass('active') ){
        $(this).removeClass("active").closest('.toggle').find('.toggle-inner').slideUp(200);
      }
      else{ 
        $(this).addClass("active").closest('.toggle').find('.toggle-inner').slideDown(200);
      }
    });
});
</script>