<div id="contact-muck">
	<div id="subpage">
	  	{% include 'sidenav' %}
		<div class="page-content-field">
			{{ page.content }}

			<div id="muck-form">
				{% include 'contact' %}
			</div>

			<div id="honeywell-updates">
				<h5>Honeywell Updates</h5>
				<div>
					<a href="https://pages1.honeywell.com/2018-GDPR-Program_GDPR-Opt-In-supplement-contact-us_1.html" target="_blank">Subscribe</a>
					<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    				<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path></svg></span>
				</div>

				<div>
					<a href="https://pages1.honeywell.com/2018-GDPR-Program_Custom-Opt-out-FORM_1.html" target="_blank">Unsubscribe</a>
					<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    				<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path></svg></span>
    			</div>
				<div>
					<a href="https://pages1.honeywell.com/GlobalHoneywellUnsubscribe.html" target="_blank">Global Unsubscribe</a>
					<span class="opener"><svg class="icon icon-caret-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.01 6">
    				<path fill="#ab5232" fill-rule="evenodd" d="M8,0,4,6,0,0Z"></path></svg></span>
				</div>
			</div>
		</div>			
	</div>
</div>