<div id="icon-nav-mobile-menu-btn" class="icon icon-nav-mobile-menu js-drawer-open-top" aria-controls="Mobile Navigation Drawer" aria-expanded="false">
	<div class='bar one'></div>
	<div class='bar two'></div>
	<div class='bar three'></div>
</div>