{% comment %} :: SIGNED IN :: {% endcomment %}
{% if customer %}
  <a href="/account" tabindex="0" title="account" area-label="account">
    {% if section.settings.account_icon == 'person' %}
      {% comment %}{% include 'svg-icon-account' %}{% endcomment %}
      <img src="{{ 'profile-icon.svg' | file_url }}" alt="profile link">
    {% else %}
      <div class="account-text account-username">
        {% if customer.first_name and section.settings.account_show_user_name %}
          {{ customer.first_name }}
        {% else %}
          Account
        {% endif %}
      </div>
    {% endif %}
  </a>

{% comment %} :: SIGNED OUT (Or new visitor) :: {% endcomment %}
{% else %}
  <a href="/account" tabindex="0" title="account" area-label="account">
    {% if section.settings.account_icon == 'person' %}
      {% comment %}{% include 'svg-icon-account' %}{% endcomment %}
      <img src="{{ 'profile-icon.svg' | file_url }}" alt="profile link">
      {% unless customer %}
      <span>Log In</span>
      {% endunless %}
    {% else %}
      <div class="account-text">{{ section.settings.account_icon_text_value }}</div>
    {% endif %}
  </a>
{% endif %}