{% comment %} 
	REACT-DISCOUNTS :
		- Liquid Template for rendering global components into

	INFO :
		- Config is BASE64 Encoded, Stringified JSON object. Decodes itself in DiscountParent.js

{% endcomment %}
{% if settings.discount_modal_enable == true %}
	<div id="react-discounts" data-discount-config="{{ settings.discount_modal_config }}"></div>
{% endif %}