<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <h3>{{ 'cart.general.title' | t }}</h3>
    <span class="drawer__close js-drawer-close">
        <span>{{ 'cart.general.close_cart' | t  }}</span>
    </span>
  </div>
  <div id="CartContainer"></div>
  {% if settings.nosto_id != blank %}
  	<div class="nosto_element cartpage-nosto" id="cartpage-nosto-1"></div>
  {% endif %}
</div>