<!-- cart-related-products.liquid -->
{% if section.settings.cart_related_collection != blank %}

  <div id="cart-related-section">
    
    {% if section.settings.heading != blank %}
    <div class="section-header">
      <h2 class="section-heading">{{ section.settings.heading | escape }}</h2>
    </div>
    {% endif %}

    <div id="cart-related-collection">
      {% for item in collections[section.settings.cart_related_collection].products %}
        <div>
          <div class="slider-item">
            <div class="slider-image">
              <div class="is-square-wrapper">
                {%- assign src_name = item.featured_image -%}
                {%- assign src_alt = item.title -%}
                {%- assign src_class = "is-square-item" -%}
                {% include 'srcset' %}
                {%- assign src_class = "" -%}
              </div>
            </div>
            <div class="slider-content">
              <h4 class="slider-title">{{- item.title -}}</h4>
              {% if item.url != blank %}
                <a class="fill-link link-btn" href="{{- item.url -}}" title="{{ item.title }}">
                  Learn more
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>


  </div>
{% endif %}


{% schema %}
{
  "name": "Related Collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related Collection"
    },
    {
      "type": "collection",
      "id": "cart_related_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "related_collection_count",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products to show",
      "default": 4
    }
  ]
}
{% endschema %}
