{% if section.settings.cart_related_collection != blank %}
  hello {{collections[section.settings.cart_related_collection].all_products_count}}


  <div id="cart-related-collection">
    
    {% if section.settings.heading != blank %}
    <div class="section-header">
      <h2 class="section-heading">{{ section.settings.heading | escape }}</h2>
    </div>

    {% for item in collections[section.settings.cart_related_collection] %}
      <div class="">
        {{item.handle}}
      </div>
    {% endfor %}

    {% endif %}

  </div>
{% endif %}


{% schema %}
{
  "name": "Related Collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related Collection"
    },
    {
      "type": "collection",
      "id": "cart_related_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "related_collection_count",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products to show",
      "default": 4
    }
  ]
}
{% endschema %}
