{% if section.settings.cart_related_collection != blank %}

  <div id="cart-related-collection">
    
    {% if section.settings.heading != blank %}
    <div class="section-header">
      <h2 class="section-heading">{{ section.settings.heading | escape }}</h2>
    </div>
    {% endif %}

    <div id="cart-related-collection">
      {% for item in collections[section.settings.cart_related_collection].products %}
        <div class="related-collection-slider">
            {%- assign src_name = item.featured_image -%}
            {% include 'srcset' %}
            {{- item.title -}}
        </div>
      {% endfor %}
    </div>


  </div>
{% endif %}


{% schema %}
{
  "name": "Related Collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Related Collection"
    },
    {
      "type": "collection",
      "id": "cart_related_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "related_collection_count",
      "min": 3,
      "max": 12,
      "step": 1,
      "label": "Products to show",
      "default": 4
    }
  ]
}
{% endschema %}
