<div class="homepage-section featured-collection no-fouc index-section" data-section-id="{{ section.id }}" data-section-type="homepage-products">
  {% assign collection = collections[section.settings.homepage_collection] %}
  {% assign prod_limit = section.settings.homepage_product_limit %}
  <div class="row">
    {% if section.settings.heading != blank %}
    <div class="section-header">
      <h2 class="section-heading desktop-12 tablet-6 mobile-3">{{ section.settings.heading | escape }}</h2>
      <div class="cta">
        <a href="{{ collection.url }}"><span>View All</span>{% include 'svg-icon-caret-right' %}</a>
      </div>
    </div>
    {% endif %}
    <div class="clear"></div>
    {% if section.settings.homepage_product_display == 'grid' %}
    {% include 'product-grid' with collection %}
    {% elsif section.settings.homepage_product_display == 'carousel' %}
    {% include 'product-carousel' with collection %}
    {% endif %}
  </div><!-- .row --> 
</div>
<style>
  {% if section.settings.homepage_product_display == 'grid' %}
  .product-car { margin: 0; }
  {% endif %}

</style>
{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "homepage_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "homepage_product_limit",
      "min": 2,
      "max": 30,
      "step": 1,
      "label": "Products shown",
      "default": 8
    },
    {
      "type": "select",
      "id": "homepage_product_display",
      "label": "Products layout",
	    "default":"carousel",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ]
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "Products per row",
	    "info": "Grid use only",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
  }
{% endschema %}
