<section class="homepage-section rich-text index-section" data-section-id="{{ section.id }}" >
  <div class="row">

    <div class="desktop-12 tablet-6 mobile-3">

      {% if section.settings.heading != blank %}
        <h2 class="section-heading">{{ section.settings.heading | escape }}</h2>
      {% endif %}

      <div class="pages-content">
        {% if section.settings.page != blank %}
          {%- assign feat_page = pages[section.settings.page] -%}
          {{ feat_page.content }}
        {% else %}
          <div class="rte text-center">
            {{ section.settings.rich_text }}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>


{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome"
    },
      {
        "type": "richtext",
        "id": "rich_text",
        "label": "Text",
        "info": "Use basic HTML to format text",
        "default": "<p>Use this section to tell customers about your store or add content from one of your pages which makes it easy to add images, video or any other content.</p>"
      },
    {
      "type": "page",
      "id": "page",
	   "label": "Or Show content from a page"
    }
   ],
   "presets":[
      {
       "name":"Rich text",
       "category":"Text"
      }
   ]
}
{% endschema %}
